.task{
  display: flex;
  background-color: rgb(228, 224, 223);
  padding: 1%;
  width: 50%;
  margin-left: 22%;
  border: 2px solid rgb(60, 59, 59);
}

.done{
  display: flex;
  background-color: rgb(156, 234, 188);
  padding: 1%;
 
  border: 2px solid rgb(62, 60, 60);
  
}

.data{
  width: 15%;
  margin-left: 3%;
  margin-right: 6%;
}

.btn{
  width: 20%;
  margin-left: 3%;
  background-color: rgb(168, 154, 154);
}