
.todoForm{
  border: 1px solid rgb(61, 59, 59);
  margin: 1%;padding: 1%;
  background-color: rgb(214, 224, 221);

}

.todoForm>input {
 
  padding: 1%;
 width: 50%;
 margin-left: 23%;
}

.todoForm>button {
  
  padding: 1%;
  width: 5%;
  background-color: rgb(153, 166, 166);
}

